<p id="notice"><%= notice %></p>
<h1>Your Order Page</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>
    <th></th>
    

  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %></td>
      <td><%= link_to item.quantity, edit_order_item_path(item) %></td>
      <td><%= print_price(item.product.price) %></td>
      <td><%= print_price item.subtotal %></td>
      <td><%= button_to  "Delete Item", item, :confirm => 'Are you sure?', :method => :delete %></td>
</td>
      
    </tr>
  <% end %>

  <th>Total Order Sum</th>
  <td><%= print_price @order.total %></td>
  <br />
  
</table>

<br />
<p><%= button_to "Empty Cart", @order, data: { confirm: 'Are you sure?' }, method: :delete %></p>
<br />
<%= link_to 'All Orders', orders_path %>
