<h1>Your Order Page</h1>

<table>
  <tr>
    <th>Customer</th>
    <td><%= @order.user_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <th>Items:</th>
    <td><%= @order.order_items.count %></td>
  </tr>
  <tr>
    <th>Items</th>
    <th>Title</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Subtotal</th>

  <% @order.order_items.each do |item| %>
    <tr>
      <td><%= image_tag "products/#{item.product.image_url}" %></td>
      <td><%= item.product.title %></td>
      <td><%= item.quantity %></td>
      <td><%= print_price(item.product.price) %></td>
      <td><%= print_price item.subtotal %></td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'All Orders', orders_path %>
